<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" style="background-color: #848484;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/brain.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:16px;color:white">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!--a class="dropdown-item" style="font-size:13px" href="#">Explorar</a-->
          <!--a class="dropdown-item" style="font-size:13px" href="#">Historial</a-->
          <a class="dropdown-item" style="font-size:13px" href="#" (click)="logout()">Salir</a>
        </div>
      </li>
	  <li class="nav-item disabled">
        <a class="nav-link" href="#"></a>
      </li>
	  <li class="nav-item disabled">
        <a class="nav-link" href="#"></a>
      </li>
	  <li class="nav-item disabled">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>