<div class="row" style="padding-top: 20px;">
   <div class="col-md-3" style="margin:auto">
   </div>
   <div class="col-md-6 panel panel-default" style="margin:auto;background-color:white" aria-hidden="true">
      <modal #modal (onDismiss)="dismissPostModal()" (onOpen)="cargaFormulario()">
         <modal-body>
            <form novalidate class="form-signin" #form="ngForm" (ngSubmit)="guardaRegistroPost(form)" *ngIf="!isFormLoading && isFormLoaded">
            <div class="row vdivide">
            	<div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none;" >
	             	<span style="width: 100%;text-align: center">A : Evento Activador</span>
	               <hr width="80%">
	            </div>
	            <div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none;" >
	             	<span style="width: 100%;text-align: center">B : Pensamientos</span>
	               <hr width="80%">
	            </div>
	            <div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none;" >
	             	<span style="width: 100%;text-align: center">C : Consecuencias</span>
	               <hr width="80%">
	            </div>
            </div>
            <div class="row vdivide">
	            <div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none;" >
	               
	               <div class="flex-item" *ngFor='let variable of variablesFilterByType("A")'>
	                  <label for="variable.id">{{variable.nombre}}</label>
	                  <table class="flex-item">
		                  <tr>
		                  	<td><ng-select id={{variable.id}} placeholder="Seleccione" [options]="variable.opciones" [allowClear]="true"
						  notFoundMsg="Sin resultados" name={{variable.nombreRegistro}} ngModel required [ngClass]="{'alert-error': variable.invalid && submitted}" (deselected)="onDeselectedVariable(variable.id)"
						  (selected)="onSelectedVariable(variable.id)" (filterInputChanged)="onFilterInputChanged($event,variable.id)"
						  (noOptionsFound)="onNoOptionsFound($event,variable.id)" (closed)="onClose()"></ng-select></td>
		                  	<td> &nbsp;&nbsp;&nbsp;<input #elem id={{variable.id}}button type="button" class="btn btn-info btn-sm" value="+" style="margin-left:10px" 
		                  		[hidden]="addOptionEnabler(elem.id)"  value="Añadir opcion" (click)="anadirOpcion()"></td>
		                  </tr>			  
	                  </table>
	                  
	               </div>
	            </div>
	            <div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none" >
	               <div class="flex-item" *ngFor='let variable of variablesFilterByType("B")'>
	                  <label for="variable.id">{{variable.nombre}}</label>
	                  <ng-select id={{variable.id}} class="flex-item" placeholder="Seleccione" [options]="variable.opciones" [allowClear]="true" noFilter="false"
					  notFoundMsg="Sin resultados" name={{variable.nombreRegistro}} ngModel required [ngClass]="{'alert-error': variable.invalid && submitted}" (deselected)="onDeselectedVariable(variable.id)"
					  (selected)="onSelectedVariable(variable.id)">
					  </ng-select >
	               </div>
				   <table style="width:90%">
				   <tr>
					    <td align="center" valign="middle" style="white-space: nowrap;width:1%;">
							<label for="pensamiento" style="width:100%;font-size:14px">¿Qué pensaste?&nbsp;&nbsp;</label>
						</td>
	               </tr>
	                <tr>
	                   <td valign="middle"> 
							<textarea id="pensamiento"  rows="2"
							style="width:100%;font-size:11px;margin-top:5px" fz-elastic ngModel name="pensamiento" required #pensamiento="ngModel" alert-error [ngClass]="{'alert-error': pensamiento.errors && submitted}" rows="6"></textarea>
					   </td>
	               </tr>
					</table>
	            </div>
	            <div class="flex-container wrap col-md-4" style="align-items: center;justify-content: center;border: none;" >
	               <div class="flex-item" *ngFor='let variable of variablesFilterByType("C")'>
	                  <label for="variable.id">{{variable.nombre}}</label>
	                  <ng-select id={{variable.id}} class="flex-item" placeholder="Seleccione" [options]="variable.opciones" [allowClear]="true" noFilter="false"
					  notFoundMsg="Sin resultados" name={{variable.nombreRegistro}} ngModel required [ngClass]="{'alert-error': variable.invalid && submitted}" (deselected)="onDeselectedVariable(variable.id)"
					  (selected)="onSelectedVariable(variable.id)">
					  </ng-select >
	               </div>
	            </div>
            </div>
			<br/>
            <div style="color:red;text-align: center;" 
               *ngIf="!form.valid && submitted" class="row">
               <span style="width: 100%">Completar los campos obligatorios</span>
            </div>


			<br/>
            <div style="margin-left: auto;margin-right: auto;max-width: 1000px;float: none;">
               <table width="100%">
				<tr>
					<td width="50%" align="right">
						<input type="submit" class="btn btn-info" value="Publicar" style="margin-right:10px" >
					</td>
					<td width="50%" align="left">
						<input type="button" class="btn btn-info" value="Cancelar" (click)="modal.dismiss()" style="margin-left:10px">
					</td>
				</tr>
			   </table>
            </div>
            <br/>
            </form>
			<div class="spinner-message" style="width:100%;text-align:center;" *ngIf="isFormLoading">
				<mat-spinner mode="indeterminate" style="margin:0 auto;"></mat-spinner>
				<br/>
			</div>
         </modal-body>
      </modal>
      <post [registro]="registro" [pacienteSesion]="pacienteSesion" *ngFor='let registro of registros'> </post>
	  <table width="100%" border="1px" *ngIf="!isPostsLoading && registros.length>0" (click)="getOlderPosts()">
	  <tr><td style="background-color:#FAFAFA;height:40px;cursor:pointer;vertical-align: middle;" align="center">
	  <i class="fa fa fa-refresh fa-1x"></i>&nbsp;<strong style="color:black">CARGAR MAS {{pacienteParam?' (Busqueda:  ' + pacienteParam+ ')':''}}</strong>
	  </td></tr>
	  </table>
	  <br/>
	  <div class="spinner-message" style="width:100%;text-align:center;" *ngIf="isPostsLoading">
		<mat-spinner mode="indeterminate" style="margin:0 auto;"></mat-spinner>
		<br/>
	  </div>
   </div>
   <div class="col-md-3" style="margin:auto">
   </div>
   <span style="width:60px;height:60px;position: fixed;bottom:0%;right:4%;margin-bottom:20px;" >
	   <a mat-fab routerLink="." style="background-color:#81BEF7;width:100%;height:100%" (click)="modal.open('lg')">
		<img src="assets/post.png" width="100%" height="100%" style="margin-top:-25%"  mat-fab-image><img/>
	   </a>
   </span>
</div>