<div class="row" style="padding-top: 20px;">
   <div class="col-md-3" style="margin:auto">
   </div>
   <div class="col-md-6 panel panel-default" style="margin:auto;background-color:white">
      <modal #modal (onDismiss)="dismissPostModal()" (onOpen)="cargaFormulario()">
         <modal-body>
            <form novalidate class="form-signin" #form="ngForm" (ngSubmit)="guardaRegistroPost(form)" *ngIf="!isFormLoading && isFormLoaded">
            <!--
			Por el momento no se posteará POSTS ESCRITOS
			div class="row panel-body">
               <div class="col-md-12">
                  <md-input-container style="width:100%">
                     <textarea mdInput placeholder="¿Cuéntanos qué pasó?" fz-elastic rows="5" name="post" ngModel></textarea>
                  </md-input-container>
               </div>
            </div-->
			<label for="pensamiento" style="width:100%">¿Que estaba pasando?</label>
			<hr/>
            <div class="flex-container wrap" style="align-items: center;justify-content: center;" >
               <div class="flex-item" *ngFor='let variable of variablesFilterByType("antes")'>
                  <label for="variable.id">{{variable.nombre}}*</label>
                  <ng-select id={{variable.id}} class="flex-item" placeholder="Seleccione" [options]="variable.opciones" [allowClear]="true" noFilter="true"
				  notFoundMsg="Sin resultados" name={{variable.nombreRegistro}} ngModel required [ngClass]="{'alert-error': variable.invalid && submitted}" (deselected)="onDeselectedVariable(variable.id)"
				  (selected)="onSelectedVariable(variable.id)">
				  </ng-select >
               </div>
            </div>
            <br/>
			<label for="pensamiento" style="width:100%">¿Que ocurrió después?</label>
			<hr/>
            <div class="flex-container wrap" style="align-items: center;justify-content: center;" >
               <div class="flex-item" *ngFor='let variable of variablesFilterByType("despues")'>
                  <label for="variable.id">{{variable.nombre}}*</label>
                  <ng-select id={{variable.id}} class="flex-item" placeholder="Seleccione" [options]="variable.opciones" [allowClear]="true" noFilter="true"
				  notFoundMsg="Sin resultados" name={{variable.nombreRegistro}} ngModel required [ngClass]="{'alert-error': variable.invalid && submitted}" (deselected)="onDeselectedVariable(variable.id)"
				  (selected)="onSelectedVariable(variable.id)">
				  </ng-select >
               </div>
            </div>
			<table style="width:100%">
			   <tr>
					<td>
						<label for="pensamiento" style="width:100%;font-size:14px">¿Que pensaste en ese momento? *</label>
					</td>
                  <td>
						<textarea id="pensamiento" style="width:100%" fz-elastic ngModel name="pensamiento" required #pensamiento="ngModel" alert-error [ngClass]="{'alert-error': pensamiento.errors && submitted}"></textarea>
					</td>
               </tr>
			</table>
			<br/>
            
            <div style="color:red" 
               *ngIf="!form.valid && submitted">
               Completar los campos obligatorios (*)
            </div>
            <div>
               <table width="100%">
				<tr>
					<td width="50%">
						<input type="submit" class="btn btn-info" value="Publicar" >
						<input type="button" class="btn btn-info" value="Cancelar" (click)="modal.dismiss()">
					</td>
				</tr>
			   </table>
            </div>
            <br/>
            </form>
			<div class="spinner-message" style="width:100%;text-align:center;" *ngIf="isFormLoading">
				<md-spinner mode="indeterminate" style="margin:0 auto;"></md-spinner>
				<br/>
			</div>
         </modal-body>
      </modal>
      <post [registro]="registro" [pacienteSesion]="pacienteSesion" *ngFor='let registro of registros'> </post>
	  <table width="100%" border="1px" *ngIf="!isPostsLoading && registros.length>0" (click)="getOlderPosts()">
	  <tr><td style="background-color:#848484;height:40px;cursor:pointer;vertical-align: middle;" align="center">
	  <i class="fa fa fa-refresh fa-1x"></i>&nbsp;<strong style="color:white">CARGAR MAS {{pacienteParam?' (Busqueda:  ' + pacienteParam+ ')':''}}</strong>
	  </td></tr>
	  </table>
	  <br/>
	  <div class="spinner-message" style="width:100%;text-align:center;" *ngIf="isPostsLoading">
		<md-spinner mode="indeterminate" style="margin:0 auto;"></md-spinner>
		<br/>
	  </div>
   </div>
   <div class="col-md-3" style="margin:auto">
   </div>
   <span style="width:60px;height:60px;position: fixed;bottom:0%;right:4%;margin-bottom:20px;" >
	   <a md-fab routerLink="." style="background-color:#81BEF7;width:100%;height:100%" (click)="modal.open('lg')">
		<img src="assets/post.png" width="100%" height="100%" style="margin-top:-25%"  md-fab-image><img/>
	   </a>
   </span>
</div>