.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

/*tbody*/
.body-fixed-header {
    display:block;
    height: 500px;
    overflow:auto;
}
/*thead, tbody tr*/
.fixed-header {
    display:table;
    width:100%;
    table-layout:fixed;
}
/*thead*/
.head-fixed-header {
    width: calc( 100% - 1em )
}
td.container {
    height: 20px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.cont {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}