 <md-card *ngIf="!registro.oculto">
		 <md-card-header *ngIf="pacienteSesion==registro.paciente">
			<div style="width:100%;text-align:right">
				<div class="dropdown">
				  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 	<img src="assets/dots.png" width="15px" height="20px"/>
				  </button>
				  <div class="dropdown-menu dropdown-menu-right" style="font-size:12px"  aria-labelledby="dropdownMenuButton">
				 	<a class="dropdown-item" href="#" (click)="ocultarPost(registro.id,$event)">Ocultar</a>
				 	<a class="dropdown-item" href="#" (click)="eliminarPost(registro.id,$event)">Eliminar</a>
				  </div>
				</div>
			</div>
		 </md-card-header>
         <md-card-content>
            <div class="row">
               <div class="col-md-12">
                  <table style="width:100%">
                     <tr>
                        <td width="60px" align="center">
                           <img src="../../../../assets/profile-pictures/{{registro.paciente}}.jpg"
                              class="rounded-circle" width="50px" height="50px"/>
                        </td>
                        <td>
						   <table>
								<tr>
									<td valign="middle" align="left" style="margin-left:15px"><span style="font-size:20px">{{registro.paciente | uppercase}}</span>
									<br/>
									<span style="color:#BDBDBD">{{registro.fechahora |  date:'dd/MM/yyyy HH:mm:ss '}}</span>
									</td>
									<td valign="middle"  align="left" style="color:#BDBDBD;padding:15px;margin-left:15px">"{{registro.pensamiento}}"</td>
								</tr>
						   </table>    
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <br/>
            <div class="row">
               <div class="col-md-12" style="font-size:14px;text-align: center">
					{{registro.post}}
               </div>
            </div>
			<br/>
			<div class="row">
               <div class="col-md-12" style="font-size:14px;text-align: center" >
				 <h5><span class="badge badge-pill badge-default" *ngFor='let tag of tags' style="margin-left:5px;margin-right:5px">{{tag}}</span></h5>
               </div>
            </div>	
			
            <!-- BOTONES
				<div class="row">
               <div class="col-md-12 text-right">
				  <a class="readmore" href="#">
						Like
				  </a>
				  &nbsp;
				  a class="readmore" href="#">
						Comentar
				  </a
               </div>
            </div>-->
			<hr/>
			<br/>
            <div class="row">
               <div class="col-md-12 text-right" style="margin-bottom:15px" *ngFor='let comentario of registro.comentarios'>
                  <div class="row">
                     <div class="col-md-12">
                        <table style="width:100%;table-layout:fixed">
                           <tr>
                              <td width="40px" valign="top" rowspan="2">
                                 <img src="../../../../assets/profile-pictures/{{comentario.paciente}}.jpg" 
                                   width="40px" height="40px"/>
                              </td>
                              <td align="left"  valign="bottom" style="padding-left:10px">
								 <div>{{comentario.paciente}} <span style="color:#BDBDBD;font-size:12px;margin-left:8px">{{comentario.fechaHora |  date:'dd/MM/yyyy HH:mm:ss '}}</span></div>
                              </td>
							  <td width="36px"  rowspan="2" valign="top">
								<div class="dropdown" *ngIf="pacienteSesion==comentario.paciente">
								  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="assets/dots.png" width="15px" height="20px"/>
								  </button>
								  <div class="dropdown-menu dropdown-menu-right" style="font-size:12px"  aria-labelledby="dropdownMenuButton">
									<!--a class="dropdown-item" href="#">Editar</a-->
									<a class="dropdown-item" href="#" (click)="eliminarComentario(comentario.id,$event)">Eliminar</a>
								  </div>
								</div>
							  </td>
                           </tr>
						   <tr>
                              <td align="left" valign="top" style="padding-left:10px">
                                 <div style="font-size:12px;overflow:hidden;word-wrap: break-word;width: 100%;">{{comentario.contenido}}</div>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
			   <div class="col-md-12 text-right" style="margin-bottom:15px">
                  <div class="row">
                     <div class="col-md-12">
						<table style="width:100%">
							   <tr>
								  <td width="40px" valign="top">
									 <img src="../../../../assets/profile-pictures/{{pacienteSesion}}.jpg" 
									   width="40px" height="40px"/>
								  </td>
								  <td align="left" style="padding-left:10px">
									 <div style="font-size:12px;width:100%">
									 <textarea style="width:100%" fz-elastic placeholder="Escribe un comentario ..." #comentario 
									 (keydown.enter)="enviaComentario(comentario);false"
									 (keydown.alt.Enter)="saltoLinea(comentario)"  [disabled]="isCommenting" ></textarea>
									 </div>
								  </td>
							   </tr>
						</table>
                     </div>
                  </div>
               </div>
            </div>
			<hr/>
         </md-card-content>
      </md-card>
	  <br/>
